.feed{
    flex: 5.5;
    background-color: #FAF7F0;
    height:calc(100vh - 50px);
    overflow-y: scroll;
}

.feed::-webkit-scrollbar{
    display: none;
}

.feedWrapper{
    padding: 20px;
}